@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
  include:
    button, select, label, input, textarea, checkbox, swap, theme-controller;
}

@theme {
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-textPrimary: #1e2939;
  --color-textSecondary: #2e4470;
  --color-textHint: #b4b4b4;
  --color-neutral-light: #c5c6cc;
  --color-neutral-dark: #8f9098;

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: #0190cc;
  --color-primary-dark: #0086c1;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #6c757d;
  --color-secondary-dark: #5a6268;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  --default-font-family: "Inter", system-ui, sans-serif;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    font-size: 16px;
    @apply text-textPrimary;
  }

  p,
  label {
    font-size: clamp(1rem, 2.5vw, 1.125rem); /* ~16px to 18px */
    @apply leading-relaxed tracking-normal;
  }

  button {
    @apply transition cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  h1 {
    font-size: clamp(1.75rem, 5vw, 2.5rem); /* ~28px to 40px */
    @apply font-bold text-textPrimary
      leading-snug sm:leading-tight lg:leading-[1.2]  /* line-height adjustments */
      tracking-wide sm:tracking-wider; /* letter-spacing adjustments */
  }

  h2 {
    font-size: clamp(1.5rem, 4.5vw, 2rem); /* ~24px to 32px */
    @apply font-semibold text-textPrimary
      leading-snug sm:leading-tight lg:leading-[1.3]
      tracking-wide sm:tracking-wider;
  }

  h3 {
    font-size: clamp(1.25rem, 4vw, 1.75rem); /* ~20px to 28px */
    @apply font-semibold text-textPrimary
      leading-snug sm:leading-[1.4] lg:leading-[1.3]
      tracking-normal sm:tracking-wide;
  }

  h4 {
    font-size: clamp(1.125rem, 3.5vw, 1.5rem); /* ~18px to 24px */
    @apply font-medium text-textPrimary
      leading-normal sm:leading-snug lg:leading-[1.4]
      tracking-normal sm:tracking-wide;
  }

  h5 {
    font-size: clamp(1rem, 3vw, 1.25rem); /* ~16px to 20px */
    @apply font-medium text-textSecondary
      leading-normal sm:leading-snug
      tracking-tight sm:tracking-normal;
  }

  h6 {
    font-size: clamp(0.875rem, 2.5vw, 1rem); /* ~14px to 16px */
    @apply font-medium text-textSecondary
      leading-normal sm:leading-snug
      tracking-tight;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: text-textPrimary !important;
    transition:
      background-color 9999s ease-out,
      color 9999s ease-out;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
